*{
    list-style: none;
    text-decoration: none;

}
.header{
    background-color: #333333;
    display: grid;
    grid-template-columns: 6fr 3fr ;
    height: 100px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    border-bottom:3px solid white;
}
.nav{
    height:100px;
}
.name{
    color: white;
    font-size: 40px;
    margin-left: 20px;
   
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.navList{
   
        list-style-type: none;
        display: flex;
        padding:0;
        margin: 0;
        justify-content: end;  
        margin-left:17%;
}
.navLink{
    
        display: inline;
        position: relative;
         margin-left: 25px;
        top: 11px;
         font-size: 20px;
        
     
}

.active{
    color: red;
    text-decoration: underline;
    
}
.inactive{
    color: white;
}